*{
  box-sizing: border-box;
}

header{
  
  background-image: url(//cdn.shopify.com/s/files/1/0582/2198/5957/products/il_fullxfull.3198625044_retv.jpg?v=1633500375);
  background-size: auto;
  border-top: solid 20px thistle;
  border-right: solid 20px thistle;
  border-left: solid 20px thistle;
  padding: 100px;
  text-align: center;
  
}

.baby-leezus {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  position: absolute;
  color: white;
  top: -50px;
  left: 30px;
  
}

.nav-bar{
  position: absolute;
  color: white;
  right: 30px;
  top: 175px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}

.banner{
  background-color:thistle;
  background-size: auto;
  margin-top: -25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-align: center
}

body {
  background-color: lavender;
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
}

.containerGrid{
  display: flex;
  grid-template-columns: 25% 75%;
  grid-template-rows: 33% 33% 33%;
  grid-column-gap: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.page-section{
  display: flex;
  width: 25%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  margin: 25px 0;
  background-image;
}



.projects{
  display: grid;
  width: 75%;
  
}

.proj1, .proj2, .proj3, .proj4, .proj5{
  background-image: url(https://cdn.shopify.com/s/files/1/0582/2198/5957/products/il_fullxfull.3198625044_retv.jpg?v=1633500375);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.flex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-item{
  align-items: flex-end;
  min-height: 200px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  margin: 0.5em;
  display: flex;
}

.flex-item:first-child{
  min-height: 300px; 
  flex-basis: 100%;
}

.flex-item div{
  background-color: blueviolet;
  padding: 10px;
}

.contact{
  background-image: url(//cdn.shopify.com/s/files/1/0582/2198/5957/products/il_fullxfull.3198625044_retv.jpg?v=1633500375);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  background-color: lavender;
  background-size: auto;
  border: solid thistle 20px;
}
@media screen and (max-width:768px) {
 .flex-item{
  flex-basis: 100%;
 } 
 .flex-item:first-child{
  min-height: 150px;
 }
}
