*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  padding: 100px;
  text-align: center;
  background-image: ;
  font-size: 30px;
}

.banner {
  text-align: center;
}
.page-wrapper{
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}
#Squidward{
  im
  height: 150px;
  width: 150px; 
}
.page-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  margin: 25px 0;
}


.page-section > div{
  flex: 0 0 100%;

}

.proj1{
  background-image: url("../images/02-portfolio-1.jpg");
}
.proj2{
  background-image: url("../images/02-portfolio-1.jpg");

}
.proj3{
  background-image: url("../images/02-portfolio-1.jpg");
}
.proj4{
  background-image: url("../images/02-portfolio-1.jpg");
}
.proj5{
  background-image: url("../images/02-portfolio-1.jpg");
}
.flex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-item{
  align-items: flex-end;
  min-height: 200px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  margin: 0.5em;
  display: flex;
}

.flex-item:first-child{
  min-height: 300px; 
  flex-basis: 100%;
}

.flex-item div{
  background-color: blueviolet;
  padding: 10px;
}
@media screen and (max-width:768px) {
 .flex-item{
  flex-basis: 100%;
 } 
 .flex-item:first-child{
  min-height: 150px;
 }
}
